<%-include('partials/header.ejs') %>
<body>
    <%-include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="fomulario-pergunta">
            <div class="card-header">
                <h1>Realizar pergunta</h1>
            </div>
            <div class="card-body">
                <form action="storeAsk" method="POST">
                    <label for="">Título</label>
                    <input name='title' class="form-control" type="text" placeholder="Título">
                    <br>
                    <label for="">Descrição</label>
                    <textarea name='description' class="form-control" placeholder="Descreva a sua pergunta"></textarea>
                    <br>   
                    <button class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>       
    </div>
</body>
<%-include('partials/footer.ejs') %>